In [30]:
import pandas as pd
import random

In [31]:
df=pd.read_excel('sample.xlsx')
df.head(5)

,Cloth type,Consumer Demand(1000),Past Produced quantity(500),Rating(5),Price(500),Discount(100),Production Rate
0,Wool,602,438,3.0,353.1,50.0,68.698337
1,Leather,153,200,3.5,472.3,12.6,39.971496
2,Velvet,752,466,4.5,250.6,25.0,71.168646
3,Cotton,232,273,2.3,494.5,23.0,48.684086
4,Silk,341,178,4.0,499.2,18.0,49.415677

In [32]:
[w1,w2,w3,w4,w5]=[0.047,0.050,0.048,0.044,0.050]
vals=[]

In [36]:
for i in range(1000):
    x1=random.randint(100,1000)
    x2=random.randint(30,500)
    x3=random.randint(0,5)
    x4=random.randint(200,500)
    x5=random.randint(1,50)
    eq=w1*x1+w2*x2+w3*x3+w4*x4+w5*x5
    vals.append([x1,x2,x3,x4,x5,eq])

In [37]:
df = pd.DataFrame(vals,columns=['Consumer Demand','Past Produced quantity','Rating','Price','Dicount','Production Rate'])

In [38]:
df.to_csv('cse5.csv',index=False)